{
	"presets": [
		[
			"@babel/preset-env",
			{
				"corejs": 3,
				"useBuiltIns": "usage",
				"modules": false
			}
		]
	],
	"plugins": [
		"@vue/babel-plugin-jsx",
		"@babel/plugin-syntax-dynamic-import",
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-transform-modules-commonjs",
			{
			}
		],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		],
		[
			"@babel/plugin-proposal-private-methods",
			{
				"loose": true
			}
		],
		[
			"@babel/plugin-proposal-private-property-in-object",
			{
				"loose": true
			}
		]
	],
	"comments": false
}
